{% extends 'base.html' %} {% block content %}
<h3 class='my-3 text-uppercase text-center'>Saarthi Registration</h3>
<form method="POST" action={% url 'RTOModVahaanRegister' %}>{% csrf_token %}
  <input type="hidden" name="systemDate" value={% now "Y-m-j" %}>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Name<span class="text-danger">*</span></label>
        <input required type="text" class="form-control" name="name" id="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Contact<span class="text-danger">*</span></label>
        <input required type="tel" class="form-control" name="contact" id="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">DOB<span class="text-danger">*</span></label>
        <input required type="date" class="form-control" name="dob" id="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="sel1">Class<span class="text-danger">*</span></label>
        <select required class="form-control" id="sel1" name="classid">
          {% for vhnClass in vhnClasses %}
          <option value={{vhnClass.titleid}}>{{vhnClass.title}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Address<span class="text-danger">*</span></label>
        <textarea  class="form-control" name="address" id="" rows="5"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Application No<span class="text-danger">*</span></label>
        <input  type="text" class="form-control" name="applicationNO" id="" />
      </div>
      <div class="form-group">
        <label for="">Enrollment No<span class="text-danger">*</span></label>
        <input  type="text" class="form-control" name="enrollmentNO" id="" />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="">Learning No<span class="text-danger">*</span></label>
        <input  type="text" class="form-control" name="learningNO" id="" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">License No<span class="text-danger">*</span></label>
        <input  type="text" class="form-control" name="licenseNO" id="" />
      </div>
    </div>
  </div>
  <div class="">
    <h6>Services</h6>
    <div class="container-fluid">
          <div class="row">
      {% for vhnService in vhnServices %}
      <div class="col-md-3">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="myservice" value={{vhnService.titleid}}>{{vhnService}}
        </label>
      </div>
      {% endfor %}

    </div>
    </div>

  </div>
  <div class="py-3">

    <label class="mx-2">Service Expiry Date :<span >*</span></label>
    <input required type="date" class="form-control col-md-4 text-center" name="serviceExpiryDate" />

</div>


  <div class="mt-3">
    <h6>Payment</h6>
    <div class="form-inline">
      <label for="number">Total:<span class="text-danger">*</span></label>
      <input required type="number" class="form-control" name="total" id="amtTotal" />
      <label class="mx-2" for="pwd">Paid:<span class="text-danger">*</span></label>
      <input required type="number" class="form-control" name="amtPaid" id="amtPaid" />
      <label class="mx-2" for="pwd">Remainig:<span class="text-danger">*</span></label>
      <input required readonly type="number" class="form-control" name="remaining" id="amtRemaining" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary float-right" name="vahaanRegister">Submit</button>
  <button type="submit" class="btn btn-danger float-right mx-2">Reset</button>
</form>


{% endblock %}